/* Reset des marges et des paddings */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #7030a0;
    padding: 10px;
    border:2px solid black;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.chart-box {
    border: 1px solid #ccc;
    padding: 0 20px 20px 20px;
    background-color: #f9f9f9;
    /* width: 500px; */
}

button {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: 100px;
}

button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

img {
    max-height: 40px;
}

main p {
    text-align: center;
    padding: 5px 20px 20px 20px;
}